html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.hero {
  position: fixed;
}

.backdrop {
  background: url("/image/cloud-pour.png") center;
  margin: 12vw;
  width: 75vw;
  position: unset;
  background-attachment: fixed;
  background-position: -0vh -23vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  color: white;
  border: 10px solid;
  background: rgb(0, 0, 0);
  mix-blend-mode: multiply;
  font: bolder 15vw 'Orbitron';
  text-align: center;
  margin: 0;
}
