html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  align-items: center;
}

.backdrop {
  background: url("/image/cloud-pour.png") center;
  margin: auto;
  width: 100vw;
  position: unset;
  background-attachment: fixed;
  background-position-y: -35vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
}

.text {
  color: white;
  border: 10px solid;
  background: rgba(0, 0, 0, 0.7);
  mix-blend-mode: multiply;
  font: bolder 20vw 'Orbitron';
  padding: 20px;
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 1s ease; /* Add transition effect */
}
